/* Background-Color-Code: #1D1F1C

Font-Color-Code: #E3A72F */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--color-grey-1);
}

body {
    margin: 0 ;
    padding: 0;
    /* background-color: aliceblue; */
}
#logo{
    width: 50px;
}
/* change this navbar */
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 15px; */
}
#navbar {
    overflow: hidden;
    /* background-color: ; */
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  #navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #34A853;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #34A853;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
#top{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    padding: 15px;

    background-image: url(https://cdn1.cronometer.com/webflow/dot-pattern.svg);
    background-position: 100% 100%;
    background-size: 34%;
    background-repeat: no-repeat;
}
.par{
    text-align: center;
    padding: 5px;
    /* font-size: large; */
}
#t2{
    background-color: aliceblue;
}
#top2{
    margin: 50px auto;
}
#top-div{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.top-img{
    width: 100px;
}
#store{
    margin: 50px auto;
    /* padding: 15px; */
}
#store>div>div>a>img{
    width: 200px;
}
#store>div{
    /* border: 2px solid ; */
    margin: 50px auto;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    justify-content: space-around;
}
#six>div{
    /* border: 2px solid ; */
    margin: 50px auto;
    display: grid;
    padding-left: 15%;
    grid-template-columns: repeat(2,1fr);

}
#mid2-flex{
    display: flex;
}

#mid2-img{
    width: 450px;
    
}
.tick{
    width: 50px;
}
#mid2>div>img{
    /* border: 2px solid; */
    margin: 50px auto;
    padding-left: 35%;
}
#mid2>div>div{
        /* border: 2px solid; */
        width: 600px;
        margin: auto;
}
#mid2>div>div{
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    /* margin: 50px auto; */
}
.btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin: 40px 0 10px 0;
    border: none;
    cursor: pointer;
    background-color: #34A853;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover{
    color: black;
    background-color: orange;
}
#blue-box{
    background-color: #1D1F1C;
    color: aliceblue;
    margin: 50px auto;
    /* width: 1500px; */
    height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 30px;
    margin-top: 50px;
    width: 100%;
    /* height: 170px; */
    /* background-color: rgba(128, 128, 128, 0.299); */
    text-align: center;
    padding-top: 5%;
}
#apps{
    padding: 25px;
}
#apps>div>img{
    margin: 50px auto;
    width: 100%;
}
/* add a line and css */
#bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    padding: 15px;
    margin: 50px auto;
}
#foot{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #1D1F1C;
    color: #f9f9f9;
    width: 100%;
    height: 600px;
    align-items: center;
    font-stretch: wider;
}
#contact{
    border: 1px solid black;
    display: flex;
    margin: 50px auto;
    justify-content: space-evenly;
    
    
}

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: underline; }
    a:active { text-decoration: underline; }

a{
    color: #f9f9f9;
}






/* navbaar */

#navbar {
    display: flex;
    gap: 20px;
    padding: 35px 5%;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
}
#navbar a > img {
    height: 46px;
}

#navbar .mobile-navbar-btn {
    display: none;
}
#navbar > nav {
    margin-left: auto;
}
#navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    box-sizing: border-box;
}

#navbar ul .nav-product {
    cursor: pointer;
    padding: 10px 5px;
}
#navbar ul a {
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease;
    color: #4f4e53;
}
#navbar ul a:hover,
#navbar ul i:hover {
    color: rgb(255, 118, 63);
}
#navbar ul i {
    font-size: 17px;
    margin-left: 4px;
    color: #4f4e53;
}

#navbar .navbar-link-b {
    width: max-content;
    border: 1px rgb(255, 118, 63) solid;
    border-radius: 8px;
    padding: 7px 30px 7px;
    color: rgb(255, 118, 63);
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    box-shadow: rgb(214, 214, 214) 1px 1px 10px;
    transition: background-color 0.4s ease;
}
#navbar .navbar-link-b:hover {
    background-color: rgb(243, 243, 243);
}
#navbar .navbar-link-b:active {
    background-color: rgb(228, 228, 228);
}



    
    #navbar[class="active"] .mobile-navbar-btn {
        background-color: rgb(255, 118, 63);
        color: white;
        transition: color 0.4s ease;
        transition: background-color 0.4s ease;
    }
    #navbar[class="active"] > nav {
        visibility: visible;
    }

    #navbar[class="active"] .navbar-list {
        transform: translateY(0);
    }









/* foooter */


#footer {
    background-color: #4f4e53;
    padding: 20px;
}

#footer > .social-media {
    display: grid;
    width: 320px;
    gap: 15px;
    margin: 30px auto;
}
#footer .social-media > div {
    display: flex;
    gap: 20px;
}
#footer .social-media > div:first-child {
    width: 70%;
    margin: auto;
}
#footer .social-media img {
    width: 100%;
}

#footer > .horizontal-line {
    background-color: white;
    height: 1px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
}

#footer > .quick-links {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-between;
}
#footer .quick-links img {
    width: 240px;
}
#footer .quick-links > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
#footer .quick-links a,
#footer .quick-links h4 {
    color: white;
    text-align: start;
    text-decoration: none;
    transition: color ease 0.3s;
}
#footer .quick-links h4 {
    font-size: 18px;
}
#footer .quick-links a {
    line-height: 45px;
    font-size: 16px;
}
#footer .quick-links a:hover {
    color: rgb(255, 118, 63);
}

#footer > .copyright {
    margin: 30px 0;
}
#footer .copyright p {
    color: white;
    line-height: 26px;
    text-align: center;
    font-size: 18px;
}