/* @import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap);

body {
  background: #EEE;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px
} */

/* * {
  box-sizing: border-box
} */

:focus {
  outline: 0
}
body {
   
    font-size: 16px
  } 

.wrapper {
  min-height: 100vh;
  display: flex;
  padding: 50px 15px
}

@media screen and (max-width:700px),
(max-height:500px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: column
  }
}

.card-form {
  max-width: 450px;
  margin: auto;
  width: 100%
}

@media screen and (max-width:576px) {
  .card-form {
    margin: 0 auto
  }
}

.card-form__inner {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, .4);
  border-radius: 10px;
  padding: 35px
}

@media screen and (max-width:480px) {
  .card-form__inner {
    padding: 25px;
  }
}

@media screen and (max-width:360px) {
  .card-form__inner {
    padding: 15px;
  }
}
.logo{
  display: flex;
  width: 80%;
  margin: auto;
}
.card-form__button {
  width: 100%;
  height: 40px;
  background: #1c1f1d;
  opacity: 0.7;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 10px 20px 0 rgba(35, 100, 210, .3);
  color: #fff;
  /* margin-top: 20px; */
  cursor: pointer
}

@media screen and (max-width:480px) {
  .card-form__button {
    margin-top: 10px
  }
}

.card-input {
  margin-bottom: 20px
}

.card-input__label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  user-select: none
}

.card-input__input {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all .3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: 0 0;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif
}

.card-input__input:focus,
.card-input__input:hover {
  border-color: #3d9cff
}

.card-input__input:focus {
  box-shadow: 0 10px 20px -13px rgba(32, 56, 117, .35)
}

.git-icon{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #eee 2px 3px 10px;
  z-index: 2;
}
.git-icon img{
  height: 30px;
  width: 30px;
  border-radius: 15px;
}
.git-icon:hover{
  background-color: #DDD;
  box-shadow: #eee 3px 5px 10px;
}

#error-weight{
    color: red;
    font-size: 10px;
}
#error-height{
    color: red;
    font-size: 10px;
}

#bmi-result{
    color: rgb(46, 157, 255);
    font-weight: bolder;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px
}

#bmi-result>i{
    color: rgb(46, 157, 255);
    font-weight: bolder;
    font-size: 14px;
}