
@font-face {
    font-family: 'robotoregular';
    src: url(../fonts/roboto-regular-webfont.woff) format('woff');
    font-weight: bold;
    font-style: bold; 
}
* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    background-color: #fffef1;
}

a{
    text-decoration: none;
    color: rgb(25, 25, 25);
}

nav {
    position: relative;
    width: 4%;
    height: 100%;
    background: var(--bg-secondary);
    transition: .5s;
    overflow: scroll;
    border-radius: 0px 20px 0px 0px;
}

nav.active {
    width: 300px;
}

nav:hover {
    width: 21%;
}

nav ul {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li {
    list-style: none;
    width: 100%;
    /* position: relative; */

}

nav ul li a:hover {
    color: var(--bg-primary);
}

nav ul li:not(:first-child):hover a::before {
    background-color: var(--bg-active);
    width: 100%;
}

nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cl-text);
    transition: .2s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .2s;
}

nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

nav ul li a .title {
    position: relative;
    font-size: .85em;
}

nav ul li a .icon * {
    font-size: 1.1em;
}

nav ul li a.toggle {
    border-bottom: 1px solid #757575;
}

.toggle {
    cursor: pointer;
}

header {
    display: none;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background: var(--bg-secondary);
        color: var(--cl-text);
    }

    header a {
        color: var(--cl-text)
    }

    nav {
        left: -60px;
    }

    nav.active {
        left: 0;
        width: 100%;
    }

    nav ul li a.toggle {
        display: none;
    }
}

:root {
    --bg-primary: #1d1f1c;
    --bg-secondary: #52575d;
    --bg-active: #e3a72f;
    --cl-text: #e3a72f;
}
#top-box{
    height: 100vh;
    width: 100%;
    /* padding:20px; */
    overflow: scroll;

}
#top-box-inner{
    padding:20px;

}

#top-box-inner-2{
    padding:20px;
    width: 80%;
    margin: auto;
}

.body-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.diary-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #fff;
}
ul li{
    list-style: none;
    
}

.divider{
    margin: 10px 0px;
    color: grey;
}

.selected-foods{
    height: 150px;
    overflow-y: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
   
}

.selected-foods>div{
    display: flex;
    justify-content: center;
    padding: 30px;
     
}
.nutrients{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;

}
.nutrient-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background: #fff;
}

.table-flex{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 100%;
}
#food-menu, select{
    height: 40px;
    text-align: center;
    /* background-color: #52575d; */
    color: #2e2e2e;
    border-radius: 30px;
    padding: 7px;
    border: none; 
    font-size: 18px;
    cursor: pointer;     
}

.chart-card-1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 330px;
    background: #fff;
}

.chart-card-2{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 330px;
    background: #fff;
}

.chart-section{
    display: flex;
    gap:20px;
    flex-direction: row;
    width: 100%;
}

.no-data-img{
    height: 300px;
    width: 300px;
}
    
.no-data-div{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}
#outer-tab{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.tab-menu{
    width: fit-content;
    display: flex;
    gap: 30px;
}
.delete-icon{
    height: 20px;
    transition-property: height;
    transition-duration: 4s;
    transition-delay: 2s;
}
.delete-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
}

.delete-icon:hover{
    height: 25px;
}

.add-icon{
    height: 35px;
    transition-property: height;
    transition-duration: 4s;
    transition-delay: 2s;
}
.add-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
}

.add-icon:hover{
    height: 40px;
}




.logo{
   height: 50px;
  }
.logo-div{
    padding: 15px 12px;
}

.food-add{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.food-add>img{
    height: 35px;
}

.food-add>p{
    font-size: 18px;
}
.top-nav{
   display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #e9e9e9;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    padding: 11px;
    justify-content: right;
}
.avatar{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    cursor: pointer;

}
.user-img{
    height: 27px;
}
.avatar > p{
    font-size: 16px;
    font-weight: bolder;
}
.card-1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    width: 100%;
    background: #fff;
}
.card-1>img{
    width:100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.card-1 > p{
    padding: 20px;
    font-size: 18px;
}
.poster-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.poster-card > img {
    width:100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.heading-1{
    margin:20px 0px;
    font-weight: bolder;
    font-size: 36px;
    color: rgb(38, 38, 38);
}

.heading-custom{
    margin:10px 0px;
    font-weight: bolder;
    font-size: 28px;
    color: rgb(38, 38, 38);
}

.download-chart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download-icon{
    cursor: pointer;
    color: rgb(73, 173, 255);
}

/* #drop{
    border: solid red;
    display:none
}
#drop>li{
    padding: 20px ;
} */




